<footer>
    <section>
        <article>
            <h2>I want to see more!</h2>
            <p>Every week new events curated for you</p>
            <div>
                <button>
                    Subscribe!
                </button>
            </div>
        </article>
        <article>

        </article>
    </section>
    powered by &copy; TechGirls
</footer>