<!--<div class="menu">-->
<div class="page-overlay"></div>
<header>
  <a href="index.ejs">
    <img class="logo-cr8" src="/images/logo_cr8.svg" alt="cr8">
  </a>
  <nav>
    <div class="mobile-header">
      <a href="index.ejs" class="mobile-logo">
        <img src="/images/logo_cr8.svg" alt="cr8">
      </a>
      <div class="close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 5L5 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19 19L5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="dropdown"><a href="#">Events & workshops
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
        <ul class="mega-menu hidden">
          <li><a href="#">Populair events</a></li>
          <li><a href="#">bla</a></li>
          <li><a href="#">bla</a></li>
          <li><a href="#">bla</a></li>
        </ul>
      </li>
      <li><a href="#">About us</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">My events</a></li>
      <% if (user) { %>
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
      <li class="button-login"><a href="/login">Login</a>
        <% } %>
      </li>
      <li>
        <a href="#">
          <img class="profile-icon" src="images/memoji.png" alt="Your profile picture">
        </a>
      </li>
    </ul>
  </nav>
  <div class="hamburger">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.5 12H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
      <path d="M4.5 17.7692H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
      <path d="M4.5 6.23077H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    </svg>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const nav = document.querySelector("nav");
    const hamburger = document.querySelector(".hamburger");
    const closeBtn = document.querySelector(".close");
    const dropdowns = document.querySelectorAll('.dropdown');
    const overlay = document.querySelector('.page-overlay');

    function openMenu() {
      nav.classList.add('show');
      overlay.classList.add('is-visible');
      hamburger.style.display = 'none'; // Hide the hamburger when menu is open
    }

    function closeMenu() {
      nav.classList.remove('show');
      overlay.classList.remove('is-visible');
      hamburger.style.display = 'block'; // Show the hamburger when menu is closed
    }

    hamburger.addEventListener('click', openMenu);
    closeBtn.addEventListener('click', closeMenu);
    overlay.addEventListener('click', closeMenu);

    /* Dropdown phone */
    dropdowns.forEach(dropdown => {
      const link = dropdown.querySelector('a');
      const svg = link.querySelector('svg');
      link.addEventListener('click', function(e) {
        e.preventDefault();
        const megaMenu = dropdown.querySelector('.mega-menu');
        megaMenu.classList.toggle('open');
        svg.classList.toggle('rotate');
      });
    });

    // Ensure menu is closed when resizing the window
    window.addEventListener('resize', function() {
      if (window.innerWidth > 768) {
        if (nav.classList.contains('show')) {
          closeMenu();
        }
        hamburger.style.display = 'none'; // Hide the hamburger for larger screens
      } else {
        if (!nav.classList.contains('show')) {
          hamburger.style.display = 'block'; // Show the hamburger for smaller screens only if menu is not open
        }
      }
    });
  });
</script>



<% if (user) { %>
<p>Welkom terug, <%= user.name %>!</p>
<% } %>