<!--<div class="menu">-->
<header>
  <a href="#">
    <img src="/images/logo_cr8.png" alt="cr8">
  </a>
  <nav>
    <ul>
      <li class="dropdown"><a href="#">Events & workshops<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg></a>
        <ul class="mega-menu hidden">
          <li><a href="#">Populair events</a></li>
          <li><a href="#">bla</a></li>
          <li><a href="#">bla</a></li>
          <li><a href="#">bla</a></li>
        </ul>
      </li>
      <li><a href="#">About us</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">
          <span>komt later</span>
        </a></li>
      <li class="hamburger"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 12H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
          <path d="M4.5 17.7692H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
          <path d="M4.5 6.23077H19.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        </svg></li>
    </ul>
  </nav>
</header>



<!-- <% if (user) { %>
<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>
<% } else { %>
<a href="/login">Login</a>
<% } %>
</li>
</ul>
</nav> -->
<% if (user) { %>
<p>Welkom terug, <%= user.name %>!</p>
<% } %>