<section class="formStep">
    <h1>Spill the tea on <span>Your</span> funky <span>Visual Faves!</span></h1>
    <form action="/welcome" method="post">

        <fieldset class="radio-toolbar">
            <legend><h2>What's a visual treat for you?</h2></legend>

            <input type="checkbox" id="popart" name="artStyle" value="popart">
            <label for="popart">Popart</label>

            <input type="checkbox" id="kubisme" name="artStyle" value="kubisme">
            <label for="kubisme">Kubisme</label>

            <input type="checkbox" id="minimalism" name="artStyle" value="minimalism">
            <label for="minimalism">Minimalism</label>

            <input type="checkbox" id="gameArt" name="artStyle" value="GameArt">
            <label for="gameArt">Game art</label>

            <input type="checkbox" id="surrealism" name="artStyle" value="surrealism">
            <label for="surrealism">Surrealism</label>

            <input type="checkbox" id="cubism" name="artStyle" value="cubism">
            <label for="cubism">Cubism</label>

            <input type="checkbox" id="manga" name="artStyle" value="manga">
            <label for="manga">Manga</label>

            <input type="checkbox" id="photography" name="artStyle" value="photography">
            <label for="photography">Photography</label>

            <input type="checkbox" id="graffiti" name="artStyle" value="graffiti">
            <label for="graffiti">Graffiti</label>

            <input type="checkbox" id="comicArt" name="artStyle" value="comicArt">
            <label for="comicArt">Comic art</label>

            <input type="checkbox" id="performanceArt" name="artStyle" value="performanceArt">
            <label for="performanceArt">Performance art</label>

            <input type="checkbox" id="modernisme" name="artStyle" value="modernisme">
            <label for="modernisme">Modernisme</label>

            <input type="checkbox" id="bauhaus" name="artStyle" value="bauhaus">
            <label for="bauhaus">Bauhaus</label>

        </fieldset>

        <div>
            <button class="secondary-button" type="submit" id="backButton" name="action" value="back">Back</button>
            <div class="progress-container">
                <p>Step 4 of 6</p>
                <progress class="progress-fourth" value="70" max="100">70%</progress>
            </div>
            <button class="tertiary-button-black" type="submit">Next</button>
        </div>
    </form>

    <video autoplay loop muted>
        <source src="../images/shadergradient.webm" type="video/webm">
        <!-- Voeg alternatieve bronnen toe voor verschillende videoformaten -->
    </video>
</section>
