<section class="formStep2">
    <h1>tekst</h1>
    <form action="/welcome" method="post">
        
        <fieldset>
            <legend><h2>Are you a morning bird or a night owl?</h2></legend>
            <div class="radio-toolbar">
                <input type="radio" id="radioApple" name="radioFruit" value="apple">
                <label for="radioApple">Apple</label>
    
                <input type="radio" id="radioBanana" name="radioFruit" value="banana">
                <label for="radioBanana">Banana</label>
    
                <input type="radio" id="radioOrange" name="radioFruit" value="orange">
                <label for="radioOrange">Orange</label> 
            </div>
        </fieldset>
    
        <fieldset>
            <legend><h2>Are you more of a social butterfly or a cozy bookworm?</h2></legend>
            <div class="test">
                <input type="radio" id="joep" name="test" value="joep">
                <label for="joep">joep</label>
    
                <input type="radio" id="man" name="test" value="man">
                <label for="man">man</label>
    
                <input type="radio" id="pech" name="test" value="pech">
                <label for="pech">pech</label> 
            </div>
        </fieldset>
    
        <button type="submit" id="backButton" name="action" value="back">Back</button>
        <button type="submit">Submit</button>
    </form>
    
    
    

    <video autoplay loop muted>
        <source src="../images/shadergradient.webm" type="video/webm">
        <!-- Voeg alternatieve bronnen toe voor verschillende videoformaten -->
    </video>
    
</section>
