<section class="formStep0">
    <h1>We want to get to <span>know you!</span></h1>
    <p>To help us recommend the best events and workshops just for you, we'd like to ask you a few questions. <br> This will allow us to get to know you better and tailor our suggestions to your interests. Let's dive in and discover some amazing experiences together!</p>
    <form action="/welcome" method="post">
        <button type="submit">Let’s start</button>
    </form>
    <video autoplay loop muted>
        <source src="../images/shadergradient.webm" type="video/webm">
        <!-- Voeg alternatieve bronnen toe voor verschillende videoformaten -->
        Your browser does not support the video tag.
    </video>
</section>
