<form action="/welcome" method="post">
    <fieldset>
        <label for="musicStyle">What's your go-to music vibe?</label>
        <input type="checkbox" id="pop" name="musicStyle" value="pop">
        <label for="pop">Pop</label>
        <input type="checkbox" id="rock" name="musicStyle" value="rock">
        <label for="rock">Rock</label>
        <input type="checkbox" id="hiphop" name="musicStyle" value="hiphop">
        <label for="hiphop">Hip-hop/Rap</label>
        <input type="checkbox" id="electronic" name="musicStyle" value="electronic">
        <label for="electronic">Electronic/Dance</label>
        <input type="checkbox" id="rnb" name="musicStyle" value="rnb">
        <label for="rnb">R&B/Soul</label>
        <input type="checkbox" id="techno" name="musicStyle" value="techno">
        <label for="techno">Techno</label>
        <input type="checkbox" id="jazz" name="musicStyle" value="jazz">
        <label for="jazz">Jazz</label>
        <input type="checkbox" id="classical" name="musicStyle" value="classical">
        <label for="classical">Classical</label>
        <input type="checkbox" id="country" name="musicStyle" value="country">
        <label for="country">Country</label>
        <input type="checkbox" id="reggae" name="musicStyle" value="reggae">
        <label for="reggae">Reggae</label>
        <input type="checkbox" id="indie" name="musicStyle" value="indie">
        <label for="indie">Indie</label>
        <input type="checkbox" id="alternative" name="musicStyle" value="alternative">
        <label for="alternative">Alternative</label>
    </fieldset>
    <button type="submit">Next</button>
    <button type="submit" id="backButton" name="action" value="back">Back</button>
</form>
