<h1></h1>
<form action="/welcome" method="post"> 
    <fieldset>
        <label for="wantToDiscover">What are you hoping to discover?</label>
        <input type="checkbox" id="inspiration" name="wantToDiscover" value="inspiration">
        <label for="inspiration">inspiration</label>
        <input type="checkbox" id="newExperiences" name="wantToDiscover" value="newExperiences">
        <label for="newExperiences">New experiences</label>
        <input type="checkbox" id="newHobby" name="wantToDiscover" value="newHobby">
        <label for="newHobby">A new hobby</label>
        <input type="checkbox" id="professionalGrowth" name="wantToDiscover" value="professionalGrowth">
        <label for="professionalGrowth">Professional growth</label>
        <input type="checkbox" id="likeMindedPeople" name="wantToDiscover" value="likeMindedPeople">
        <label for="likeMindedPeople">Meeting like-minded people</label>
        <input type="checkbox" id="entertainment" name="wantToDiscover" value="entertainment">
        <label for="entertainment">Entertainment and fun</label>
        <input type="checkbox" id="unleashCreativity" name="wantToDiscover" value="unleashCreativity">
        <label for="unleashCreativity">Unleash creativity</label>
    </fieldset>
    <fieldset>
        <label for="spendingTimePreferences">And how do you prefer to spend time friends/family</label>
        <input type="checkbox" id="qualityTime" name="spendingTimePreferences" value="qualityTime">
        <label for="qualityTime">Quality time</label>
        <input type="checkbox" id="sharedMeals" name="spendingTimePreferences" value="sharedMeals">
        <label for="sharedMeals">Shared meals and laughter</label>
        <input type="checkbox" id="outdoorAdventures" name="spendingTimePreferences" value="outdoorAdventures">
        <label for="outdoorAdventures">Outdoor adventures</label>
        <input type="checkbox" id="gameNights" name="spendingTimePreferences" value="gameNights">
        <label for="gameNights">Game nights</label>
        <input type="checkbox" id="creativeProjects" name="spendingTimePreferences" value="creativeProjects">
        <label for="creativeProjects">Creative projects & DIY fun</label>
        <input type="checkbox" id="randomActs" name="spendingTimePreferences" value="randomActs">
        <label for="randomActs">Random acts and fun</label>
    </fieldset>
    <button type="submit">Next</button>
</form>