<h1>We want to get to know you!</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam cumque quaerat similique voluptate vero totam sit rerum alias? Labore dolores natus quo, dolorum exercitationem dicta.</p>
<form action="/welcome" method="post">
    <button type="submit">Set up your account</button>
</form>
