<section class="formStep">
    <h1><span>Your Mood,</span> Your Masterpiece!</h1>
    <form action="/welcome" method="post">

        <fieldset class="radio-toolbar">
            <legend><h2>Which emotion would you love to feel or express through art?</h2></legend>

            <input type="checkbox" id="joy" name="emotion" value="joy">
            <label for="joy">Joy</label>

            <input type="checkbox" id="nostalgia" name="emotion" value="nostalgia">
            <label for="nostalgia">Nostalgia</label>

            <input type="checkbox" id="tranquility" name="emotion" value="tranquility">
            <label for="tranquility">Tranquility</label>

            <input type="checkbox" id="excitement" name="emotion" value="excitement">
            <label for="excitement">Excitement</label>

            <input type="checkbox" id="curiousity" name="emotion" value="curiousity">
            <label for="curiousity">Curiousity</label>

            <input type="checkbox" id="passion" name="emotion" value="passion">
            <label for="passion">Passion</label>

            <input type="checkbox" id="reflection" name="emotion" value="reflection">
            <label for="reflection">Reflection</label>

            <input type="checkbox" id="comfort" name="emotion" value="comfort">
            <label for="comfort">Comfort</label>

            <input type="checkbox" id="melancholy" name="emotion" value="melancholy">
            <label for="melancholy">Melancholy</label>

            <input type="checkbox" id="ecstacy" name="emotion" value="ecstacy">
            <label for="ecstacy">Ecstacy</label>

            <input type="checkbox" id="whimsey" name="emotion" value="whimsey">
            <label for="whimsey">Whimsey</label>

            <input type="checkbox" id="vulnerability" name="emotion" value="vulnerability">
            <label for="vulnerability">Vulnerability</label>

        </fieldset>

        <div>
            <button class="secondary-button" type="submit" id="backButton" name="action" value="back">Back</button>
            <div class="progress-container">
                <p>Step 6 of 6</p>
                <progress class="progress-sixth" value="100" max="100">100%</progress>
            </div>
            <button class="tertiary-button-black" type="submit">Cr8. your account</button>
        </div>
    </form>

    <video autoplay loop muted>
        <source src="../images/shadergradient.webm" type="video/webm">
        <!-- Voeg alternatieve bronnen toe voor verschillende videoformaten -->
    </video>
</section>