<form action="/welcome" method="post">
    <legend>Are you a morning bird or a night owl?</legend>
    <fieldset>
        <input type="radio" id="morning" name="activeTime" value="morning" checked="checked">
        <label for="morning">Morning bird</label>
        <input type="radio" id="night" name="activeTime" value="night">
        <label for="night">Night owl</label>
    </fieldset>
    <fieldset>
        <legend>Are you a social butterfly or a cozy bookworm</legend>
        <input type="radio" id="social" name="social" value="Extravert" checked="checked">
        <label for="social">Social butterfly <span>Extravert</span></label>
        <input type="radio" id="bookworm" name="social" value="Introvert">
        <label for="bookworm">Cozy bookworm <span>Introvert</span></label>
    </fieldset>
    <button type="submit" id="backButton" name="action" value="back">Back</button>
    <button type="submit">Submit</button>
</form>
