<section class="formStep">
    <h1>Reveal Your <span>Radiant Self!</span></h1>
    <form action="/welcome" method="post">
        
        <fieldset class="radio-toolbar">
            <legend><h2>Are you a morning bird or a night owl?</h2></legend>
                <input type="radio" id="morning" name="activeTime" value="Morning">
                <label for="morning">Morning bird</label>
    
                <input type="radio" id="night" name="activeTime" value="Night">
                <label for="night">Night owl</label>
        </fieldset>
    
        <fieldset class="radio-toolbar">
            <legend><h2>Are you more of a social butterfly or a cozy bookworm?</h2></legend>
                <input type="radio" id="social" name="social" value="Extravert">
                <label for="social">Social butterfly <span>Extravert</span></label>
    
                <input type="radio" id="bookworm" name="social" value="Introvert">
                <label for="bookworm">Cozy bookworm <span>Introvert</span></label>
        </fieldset>
    
        <div>
            <button class="secondary-button" type="submit" id="backButton" name="action" value="back">Back</button>
            <div class="progress-container">
                <p>Step 2 of 6</p>
                <progress class="progress-second" value="30" max="100">30%</progress>
            </div>
            <button class="tertiary-button-black" type="submit">Next</button>
        </div>
    </form>
    
    
    

    <video autoplay loop muted>
        <source src="../images/shadergradient.webm" type="video/webm">
        <!-- Voeg alternatieve bronnen toe voor verschillende videoformaten -->
    </video>
    
</section>
