section.ticker {
    height: auto;
    width: auto;
    background: var(--white);
    padding: 1.2rem 0;
    border-top: 0.1rem var(--black) solid;
}

section.ticker a {
    height: 2.875rem;
}

section.ticker em {
    font-size: 3rem;
}

section.ticker a:has(h2) {
    height: unset;
}

section.ticker svg, img {
    height: 70%;
    margin-top: 0.4rem;
}

section.ticker h2.secondary-button {
    font-size: 2.5rem;
}

.dots {
    font-size: 2.5rem;
}

/* TICKER ANIMATION */
/* @keyframes ticker1 {
    0% {
        transform: translate3d(-20%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker2 {
    0% {
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker3 {
    0% {
        transform: translate3d(-40%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
} */

article.transition {
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    padding: 0 40% 0 0;
}

article.animation1 {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker1;
    animation-duration: 80s;
}

article.animation2 {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker2;
    animation-duration: 80s;
}

article.animation3 {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker3;
    animation-duration: 80s;
}

article.transition:hover {
    animation-play-state: paused;
    cursor: pointer;
}

section.ticker:nth-of-type(2) {
    padding: 0.8rem 0;
}

section.ticker:last-of-type {
    border-bottom: 0.1rem var(--black) solid;
}

/* Smaller gap between items in second ticker */
section.ticker:nth-of-type(2) article.transition {
    gap: 0.6rem;
}

/* /////////////////// */
/* 📷📷📷 PROFILE 📷📷📷 */
/* /////////////////// */

section.profile .profileBanner {
    height: 20rem;
    width: auto;
    border-radius: 2rem;
    margin: 2rem;

    background-image: url("../images/gradient.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.profile article.bio {
    display: grid;
    grid-template-columns: 5.5rem 0.8fr 0.6fr 0.2fr;
    grid-template-rows: 0.4fr auto auto;
}

section.profile article.bio img {
    height: 10rem;
    width: 10rem;
    border: var(--white) 0.5rem solid;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    left: 5rem;
    top: 23rem;
}

section.profile article.bio article {
    display: flex;
    gap: 1rem;
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
}

section.profile h1 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 0.5rem;
}

section.profile article.bio p {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 1rem;
}

/* Switch button */
section.profile article.switch-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin: 2rem 5.5rem;
}

section.profile article.switch-buttons button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    --webkit-appearance: none;
    background-color: transparent;
    border: none;
}

section.profile article.switch-buttons button p {
    font-size: 1.125rem;
    color: #808080;
}

section.profile article.saved-events {
    background-color: pink;
}

section.profile article.upcoming-events {
    background-color: beige;
}

section.profile .hidden {
    display: none;
}

section.profile article.switch-buttons .clicked {
    font-family: "NeueMontreal Medium", Arial, Helvetica, sans-serif;
    color: var(--black);
}

.clicked-svg {
    stroke-width: 2.2;
    stroke: var(--black);
}