/* ///////////////////// */
/* 🎧🎧🎧 CSS REMEDY 🎧🎧🎧*/
/* ///////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* //////////////////////////////*/
/* 🫶🏼🫶🏼🫶🏼 CUSTOM PROPERTIES 🫶🏼🫶🏼🫶🏼 */
/* ///////////////////////////// */

:root {
    --white: #ffffff;
    --black: #1f1f1f;

    --padding: 1em;
    --margin: 1em;
    --border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #1f1f1f;
        --black: #d9d9d9;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--white);
    color: var(--black);
}

a {
    color: var(--black);
    text-decoration: none;
}

h4 {
    font-size: 2.5rem;
}

.secondary-button {
    border: 3rem var(--black);
    border-radius: 50%;
}

header,
main,
footer {
    padding: var(--padding);
}

/* ////////////////////////////////// */
/* 🎞️🎞️🎞️ TICKER/SPONSOR BANNER 🎞️🎞️🎞️ */
/* ////////////////////////////////// */

section.ticker {
    height: auto;
    width: 100%;
    background: var(--white);
    padding: 1rem 0;
    border: 1rem var(--black);
}

section.ticker a {
    height: 2.875rem;
}

section.ticker svg, img {
    height: 100%;
}

/* TICKER ANIMATION */
/* @keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
} */

article.transition {
    display: flex;
    align-items: center;
    gap: 2rem;
	white-space: nowrap;
	padding: 0 100% 0 0;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 20s;
}

article.transition:hover {
	animation-play-state: paused;
	cursor: pointer;
}