<section>
    <h1>About us</h1>
</section>

<%- include('../partials/components/impression.ejs') %>
<%- include('../partials/components/categories.ejs') %>
<%- include('../partials/components/overviewGrid.ejs') %>