<h1>Events & workshops</h1>
<p>Do you have a hard time finding the perfect event or workshop? Let us guide you to the activities that you'll love!</p>

<%- include('../partials/components/categories.ejs') %>
<%- include ('../partials/components/filters.ejs') %>

<%- include('../partials/components/overviewGrid.ejs') %>

<script src="/js/filterButtons.js" async></script>