<section class="basic">
    <h1>PEDRO?</h1>
    <p>Si offre a far da guida per la città
        Pedro, Pedro, Pedro, Pedro, Pè
        Praticamente il meglio di Santa Fè
        Pedro, Pedro, Pedro, Pedro, Pè
        Fidati di me
        Pedro, Pedro, Pedro, Pedro, Pè
        Praticamente il meglio di Santa Fè
        Pedro, Pedro, Pedro, Pedro, Pè
        Fidati di me</p>
        <div class="pedro">
            <img src="images/RacoonPedro.gif" alt="">
            
            <button id="audioButton"></button>
            <audio id="myAudio">
                <source src="assets/pedro.mp3" type="audio/mpeg">
            </audio>
        </div>
</section>