<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body>
    <%- include('../partials/header'); %>
    
    <%- include('../partials/footer'); %>
</body>
</html>