<%- include('../partials/components/banner.ejs') %>
<section>
    <!-- <%- include('../partials/components/sponsorBanner.ejs') %> -->
    <%- include('../partials/components/popularEvents.ejs') %>
</section>
