<section class="home_banner">
  <h1>
    Ignite Your Imagination, Discover Cr8.<span class="pixel_text"
      >Workshops & Events</span
    >
  </h1>

  <p>
    Cr8 brings you handpicked workshops and events that match your interests and
    artistic style. Dive into creative experiences designed just for you. We
    connect you with experiences that spark your creativity. Join us and explore
    a world of endless possibilities.
  </p>

  <img src="images/girlwithart.jpeg" alt="banner photo 1" />
  <img src="images/womanonchair.jpg" alt="banner photo 2" />

  <a class="button_link" href="" aria-label="Click to go to the event page">Explore workshops & events</a>
  <img src="images/arrow-01.svg" alt="arrow link">

</section>
