<style>
  .home_banner h1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 100;
    padding-left: 2rem;
  }

  .home_banner p {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index: 100;
    margin-top: 17rem;
    padding-left: 2rem;
  }
</style>

<section class="home_banner">
  <h1>
    Ignite Your Imagination, <br />Discover Cr8.<span>Workshops & Events</span>
  </h1>

  <p>
    Cr8 brings you handpicked workshops and events that match your interests and<br>
    artistic style. Dive into creative experiences designed just for you. <br>
    We connect you <br> with experiences that spark your creativity. Join us and explore
    a world of endless possibilities.
  </p>

  <img src="images/girlwithart.jpeg" alt="banner photo 1" />
  <img src="images/womanonchair.jpg" alt="banner photo 2" />

  <a class="button_link" href="" aria-label="Click to go to the event page">Explore workshops & events</a>
    
  <img src="images/arrow-01.svg" alt="arrow link"/>
</section>
