<div class="event-description-container">
  <dl>
    <dt>Name event</dt>
    <dd>Art as it could be</dd>
    <dt>Organizer</dt>
    <dd>180 Global</dd>
    <dt>Price</dt>
    <dd>€ 10,00</dd>
    <dt>Date & time</dt>
    <dd>Wed, 26 jun. 2024 17:30 pm - 20:00 pm</dd>
    <dt>Duration</dt>
    <dd>2 hours and 30 minutes</dd>
    <dt>Amount of people</dt>
    <dd>0 - 50 middle</dd>
    <dt>Main language</dt>
    <dd>English</dd>
  </dl>
</div>