<article>
    <!-- <i class="fa-regular fa-heart"></i> -->
    <a href="index.html">
        <img src="images/girlwithart.jpeg" alt="x">
        <h3>Women in Art Foundation // Art Talks</h2>
        <p>Art Talks for inspiring discussions and insights from talented female artists in the industry!</p>
        <p>1 june 2024 • Amsterdam •  price €5,00</p>
        <!-- <i class="fa-solid fa-house"></i> -->
    </a>
</article>