<!-- bron:https://nikitahl.com/search-icon-inside-input -->
<!--Search bar-->

<div class="search-container">
  <form role="search" name="search">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.7828 18.8276C12.3741 18.8298 13.9302 18.3601 15.2544 17.4781C16.5785 16.596 17.6112 15.3413 18.2216 13.8726C18.832 12.4039 18.9929 10.7872 18.6837 9.2271C18.3746 7.66702 17.6093 6.23364 16.4849 5.10831C15.3604 3.98299 13.9272 3.2163 12.3666 2.90525C10.8061 2.5942 9.18823 2.75277 7.71786 3.3609C6.24748 3.96902 4.99062 4.99937 4.10632 6.32158C3.22202 7.64379 2.75 9.19844 2.75 10.7888C2.75 12.919 3.59596 14.9621 5.10209 16.4693C6.60821 17.9766 8.65135 18.8248 10.7828 18.8276Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M16.4883 16.491L21.25 21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <input class="filter-search" aria-label="Click and type this search bar to search for workshops & events" type="search" name="search" placeholder="What are you looking for?" autocomplete="off" list="search-suggestions">
    <datalist id="search-suggestions">
      <option value="JavaScript">
      <option value="CSS">
      <option value="Accessibility">
      <option value="Web Design">
    </datalist>
  </form>
</div>

<!--Filters-->
<div class="filters">
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Categories
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button>Theatre</button>
        <button>Dance</button>
        <button>Fine art</button>
        <button>Painting</button>
        <button>Craft</button>
        <button>Design</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Amount of people
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="smallGroup">Small group (0-10)</button>
        <button data-checkbox="middleGroup">Medium group (15-30)</button>
        <button data-checkbox="bigGroup">Big group (50-100)</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Location
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="remote">Remote</button>
        <button data-checkbox="online">Online</button>
        <button data-checkbox="eventsNearby">Events nearby</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Price
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="freebieFinder">Freebie finder</button>
        <button data-checkbox="youngSaver">Young saver</button>
        <button data-checkbox="bigSpender">Big spender</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Date
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="upcomingEvents">Upcoming events</button>
        <button data-checkbox="thisWeek">This week</button>
        <button data-checkbox="thisWeekend">This weekend</button>
        <button data-checkbox="calendar">Calendar</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Time
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="morning">Morning</button>
        <button data-checkbox="afternoon">Afternoon</button>
        <button data-checkbox="evening">Evening</button>
        <button data-checkbox="night">Night</button>
        <button data-checkbox="alldayEvents">All day events</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Language
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="dutch">Dutch</button>
        <button data-checkbox="english">English</button>
        <button data-checkbox="multilingualEvents">Multilingual Events</button>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Sorting
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <button data-checkbox="popular">Popular</button>
        <button data-checkbox="newEvents">New events</button>
        <button data-checkbox="priceLowHigh">Price low - high</button>
        <button data-checkbox="priceHighLow">Price high - low</button>
      </div>
    </div>
  </div>
</div>

<form>
  <input type="checkbox" name="AmountofPeople" class="smallGroup" value="smallGroup">
  <input type="checkbox" name="AmountofPeople" class="middleGroup" value="middleGroup">
  <input type="checkbox" name="AmountofPeople" class="bigGroup" value="bigGroup">

  <input type="checkbox" name="Location" class="remote" value="remote">
  <input type="checkbox" name="Location" class="online" value="online">
  <input type="checkbox" name="Location" class="eventsNearby" value="eventsNearby">

  <input type="checkbox" name="Price" class="freebieFinder" value="freebieFinder">
  <input type="checkbox" name="Price" class="youngSaver" value="youngSaver">
  <input type="checkbox" name="Price" class="bigSpender" value="bigSpender">

  <input type="checkbox" name="Date" class="upcomingEvents" value="upcomingEvents">
  <input type="checkbox" name="Date" class="thisWeek" value="thisWeek">
  <input type="checkbox" name="Date" class="thisWeekend" value="thisWeekend">
  <input type="checkbox" name="Date" class="calendar" value="calendar">

  <input type="checkbox" name="Time" class="morning" value="morning">
  <input type="checkbox" name="Time" class="afternoon" value="afternoon">
  <input type="checkbox" name="Time" class="evening" value="evening">
  <input type="checkbox" name="Time" class="night" value="night">
  <input type="checkbox" name="Time" class="alldayEvents" value="alldayEvents">

  <input type="checkbox" name="Language" class="dutch" value="dutch">
  <input type="checkbox" name="Language" class="english" value="english">
  <input type="checkbox" name="Language" class="multilingualEvents" value="multilingualEvents">

  <input type="checkbox" name="Sorting" class="popular" value="popular">
  <input type="checkbox" name="Sorting" class="newEvents" value="newEvents">
  <input type="checkbox" name="Sorting" class="priceLowHigh" value="priceLowHigh">
  <input type="checkbox" name="Sorting" class="priceHighLow" value="priceHighLow">
  <button type="submit">submit</button>

</form>