<!-- bron:https://nikitahl.com/search-icon-inside-input -->
<!--Search bar-->
<div class="search-container">
  <form role="search" name="search">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.7828 18.8276C12.3741 18.8298 13.9302 18.3601 15.2544 17.4781C16.5785 16.596 17.6112 15.3413 18.2216 13.8726C18.832 12.4039 18.9929 10.7872 18.6837 9.2271C18.3746 7.66702 17.6093 6.23364 16.4849 5.10831C15.3604 3.98299 13.9272 3.2163 12.3666 2.90525C10.8061 2.5942 9.18823 2.75277 7.71786 3.3609C6.24748 3.96902 4.99062 4.99937 4.10632 6.32158C3.22202 7.64379 2.75 9.19844 2.75 10.7888C2.75 12.919 3.59596 14.9621 5.10209 16.4693C6.60821 17.9766 8.65135 18.8248 10.7828 18.8276Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M16.4883 16.491L21.25 21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <input class="filter-search" aria-label="Search for events & workshops" type="search" name="search" placeholder="What are you looking for?" autocomplete="off" list="search-suggestions">
    <datalist id="search-suggestions">
      <option value="JavaScript">
      <option value="CSS">
      <option value="Accessibility">
      <option value="Web Design">
    </datalist>
  </form>
</div>

<!--Filters-->
<div class="filters">
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Categories
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Theatre</a>
        <a href="#">Dance</a>
        <a href="#">Fine art</a>
        <a href="#">Painting</a>
        <a href="#">Craft</a>
        <a href="#">Design</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Amount of people
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Small group (0-10)</a>
        <a href="#">Medium group (15-30)</a>
        <a href="#">Big group (50-100)</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Location
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Remote</a>
        <a href="#">Online</a>
        <a href="#">Events nearby</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Price
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Freebie Finder</a>
        <a href="#">Young saver</a>
        <a href="#">Big spender</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Date
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="">Upcoming events</a>
        <a href="#">This week</a>
        <a href="#">This weekend</a>
        <a href="#">Calendar</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Time
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Morning</a>
        <a href="#">Afternoon</a>
        <a href="#">Evening</a>
        <a href="#">Night</a>
        <a href="#">All day events</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Language
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Dutch</a>
        <a href="#">English</a>
        <a href="#">Multilingual Events</a>
      </div>
    </div>
  </div>
  <div class="filter-dropdown">
    <div class="filter-menu">
      <button class="filter-btn" aria-expanded="false">Sorting
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 8.41693L10.5866 15.0037C10.9633 15.375 11.471 15.5831 12 15.5831C12.529 15.5831 13.0367 15.375 13.4134 15.0037L20 8.41693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="filter-dropdown-items hide-dropdown">
        <a href="#">Populair</a>
        <a href="#">Trending</a>
        <a href="#">New events</a>
        <a href="#">Price low - high</a>
        <a href="#">Price high - low</a>
      </div>
    </div>
  </div>
</div>
<script>
  //// dropdown filter items
  document.addEventListener('DOMContentLoaded', function() {
    const filterButtons = document.querySelectorAll('.filter-btn');

    filterButtons.forEach(button => {
      button.addEventListener('click', function() {
        const expanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', !expanded);
        const dropdown = button.nextElementSibling;
        const parent = button.closest('.filter-dropdown');
        const icon = button.querySelector('svg');
        dropdown.classList.toggle('show-dropdown');
        dropdown.classList.toggle('hide-dropdown');
        icon.classList.toggle('icon-rotate');
        parent.classList.toggle('expanded');
      });
    });
  });
/*
  document.addEventListener('DOMContentLoaded', function() {
    const filterButtons = document.querySelectorAll('.filter-btn');

    // Functie om de breedte van de filterknoppen aan te passen op basis van de inhoud van de dropdown-items
    function adjustButtonWidths() {
      filterButtons.forEach(button => {
        const dropdown = button.nextElementSibling;
        if (dropdown && dropdown.classList.contains('filter-dropdown-items')) {
          const dropdownWidth = dropdown.getBoundingClientRect().width;
          button.style.width = `${dropdownWidth}px`;
        }
      });
    }

    // Roep de functie aan wanneer de pagina is geladen
    adjustButtonWidths();

    // Roep de functie aan wanneer het formaat van het venster verandert
    window.addEventListener('resize', adjustButtonWidths);
  });
  */
</script>