<section class="impression">
    <ul class="slider">
        <li><img src="images/girlwithart.jpeg" alt="x"></li>
        <li><img src="images/girlwithart.jpeg" alt="x"></li>
        <li><img src="images/girlwithart.jpeg" alt="x"></li>
        <li><img src="images/girlwithart.jpeg" alt="x"></li>
        <li><img src="images/girlwithart.jpeg" alt="x"></li>
    </ul>
</section>