<section class="popularEvents">
    <h2>Popular events & workshops</h2>
    <p>Enroll today or join a waitlist for more information!</p>
    <a href="x">View all</a>

    <article>
        <%- include('./detailCard.ejs') %>
        <%- include('./detailCard.ejs') %>
        <%- include('./detailCard.ejs') %>
       
    </article>
    
</section>