<section class="profile">
    <div>
        <img src="" alt="">
    </div>
    <article>
        <img src="images/memoji.png" alt="Your profile picture">
        <h1>Name</h1>
    </article>
</section>