<h2>Program</h2>
<div class="event-description-container">
    <dl>
      <dt>12:00</dt>
      <dd>Activity 1</dd>
      <dt>12:30</dt>
      <dd>Activity 2</dd>
      <dt>13:00</dt>
      <dd>Activity 3</dd>
      <dt>13:30</dt>
      <dd>Activity 4</dd>
      <dt>14:00</dt>
      <dd>Activity 5</dd>
      <dt>15:00</dt>
      <dd>Activity 6</dd>
    </dl>
