<div class="progress-container">
  <p>Step 1 of 6</p>
  <progress class="progress-first" value="10" max="100">10%</progress>
</div>

<div class="progress-container">
  <p>Step 2 of 6</p>
    <progress class="progress-second" value="30" max="100">30%</progress>
</div>

<div class="progress-container">
  <p>Step 3 of 6</p>
  <progress class="progress-third" value="50" max="100">50%</progress>
</div>

<div class="progress-container">
  <p>Step 4 of 6</p>
  <progress class="progress-fourth" value="70" max="100">70%</progress>
</div>

<div class="progress-container">
  <p>Step 5 of 6</p>
  <progress class="progress-fifth" value="80" max="100">80%</progress>
</div>

<div class="progress-container">
  <p>Step 6 of 6</p>
  <progress class="progress-sixth" value="100" max="100">100%</progress>
</div>