<section class="recommended">
    <h2>Recommended for you</h2>
    <ul>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
    </ul>
</section>