<section class="recommended">
    <ul>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
    </ul>
</section>