<section class="socialMediaWall">
    <h2>@Cr8.</h2>

    <ul>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/painting.jpg" alt="x"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/guys.jpg" alt="x"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/bakery.png" alt="x"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/dancing.png" alt="x"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/graffit.jpg" alt="x"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/poster.jpg" alt="x"/></a></li>
        <!-- <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/fungirls.jpg" alt="x"/></a></li> -->
    </ul>
</section>