<section class="socialMediaWall">
    <h2>@Cr8.</h2>

    <ul>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/painting.jpg" alt="x"/></a></li>
        <li><img src="../images/guys.png" alt="x"/></li>
        <li><img src="../images/bakery.png" alt="x"/></li>
        <li><img src="../images/dancing.png" alt="x"/></li>
        <li><img src="../images/graffit.jpg" alt="x"/></li>
        <li><img src="../images/poster.jpg" alt="x"/></li>
        <li><img src="../images/fungirls.jpg" alt="x"/></li>
    </ul>

</section>