<section class="socialMediaWall">
    <h2>@Cr8.</h2>

    <ul>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
        <li><img src="../images/womanonchair.jpg" alt="x"/></li>
    </ul>

</section>