<section class="socialMediaWall">
    <h2>@Cr8.</h2>

    <ul>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/painting.jpg" alt="Painting workshop with a group of women at a long table."/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/guys.jpg" alt="Young man sitting outside on a chair, playing music with his guitar."/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/bakery.png" alt="Pottery making at the wheel"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/dancing.png" alt="Group of people dancing with drinks."/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/graffit.jpg" alt="Painting a graffiti wall with a brush and bright colors"/></a></li>
        <li><a href="https://www.instagram.com/artevents.it/" target="_blank"><img src="../images/poster.jpg" alt="Poster seeking creative individual for a fun job"/></a></li>
    </ul>
</section>